<head>
    {% extends 'base.html' %}
    {% load static %}
    {% block title %}AstroEvents Edit : {{event.id}}{% endblock title %}
</head>
{% block content %}
{% include 'events/navigationBar.html' %}
<div id="eventEditParent">

    <h4 class="ui dividing header">Event Edit : {{event.title}}</h4>

    <form class="ui form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="two fields">
            <div class="field">
                <label>Title</label>
                {{form.title}}
            </div>
      
            <div class="field">
                <label>Description</label>
                {{form.description}}
            </div>
        </div>

        <div class="field">
            <label>Poster</label>
            {{form.poster}}
        </div>

        <div class="field">
            <label>Venue</label>
            {{form.venue}}
        </div>

        <div class="two fields">
            <div class="field">
                <label>Size</label>
                {{form.size}}
            </div>
    
            <div class="field">
                <label>Price</label>
                {{form.price}}
            </div>
        </div>

        <button class="ui button" type="submit">Done</button>
    </form>

</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">

</script>
{% endblock scripts %}
  
  
  
  
  