<head>
  {% load static %}
</head>
{% block content %}
<div class="ui secondary pointing menu" id="navbarMainDiv">
  <a class="item" href="{% url 'events:home' %}"><b>Home</b></a>
  <a class="item" href="{% url 'profiles:profile' %}" ><b>{{profile.user}}</b></a>
  <a class="item" href="{% url 'login' %}"><b>Log Out</b></a>
</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
$('.item').click(function() {
  $('.item').eq(1).click();
});
</script>
{% endblock scripts %}